@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --color-1: hsl(30, 38%, 92%);
    --color-2: hsl(158, 36%, 37%);
    --color-3: hsl(0, 0%, 100%);
    --color-4: hsl(212, 21%, 14%);
    --color-5: hsl(228, 12%, 48%);
    --color-6: hsl(159, 34%, 24%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-1);
}

.principal {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 960px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.div-img img {
    width: 310px;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div-text {
    background: var(--color-3);
    max-width: 310px;
    height: 370px;
    transform: translateY(-1%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.div-text p {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-5);
    font-size: 14px;
}

.div-text h1 {
    width: 330px;
    padding: 0 10px 0 25px;
    color: var(--color-4);
    font-family: 'Fraunces', sans-serif;

}

.div-value {
    display: flex;
}

.div-value p {
    padding: 5px 0 15px 25px;
}

.div-paragraph {
    padding: 10px 20px 20px 25px;
    width: 305px;
}

.perfume {
    padding: 25px 20px 10px 25px;
    text-transform: uppercase;
}

.div-button {
    padding: 10px;

}

.div-button button {
    position: relative;
    width: 270px;
    height: 45px;
    background: var(--color-2);
    border-style: none;
    border-radius: 10px;
    color: var(--color-3);
    left: 15px;
    cursor: pointer;
    font-family: 'Fraunces', sans-serif;
}

.div-button button:hover {
    background: var(--color-6);

}

.div-button img {
    position: relative;
    transform: translateX(-80%);
    top: 2px;
}

#value-1 {
    color: var(--color-2);
    font-family: 'Fraunces', sans-serif;
    font-size: 28px;
}

#value-2 {
    position: relative;
    font-size: 11px;
    text-decoration: line-through;
    top: 10px;
    right: 5px;
}

@media(min-width: 576px) {

    .container {
        flex-direction: row;
        justify-content: center;
    }

    .div-img img {
        width: 280px;
        height: 410px;
        border-radius: 0%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .div-text {
        max-width: 400px;
        height: 410px;
        transform: translateY(0%);
        border-radius: 0%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .div-text h1 {
        width: 270px;
    }

    .div-paragraph {
        width: 250px;
    }

    .div-button button {
        width: 210px;
        height: 40px;
    }

    .div-value p {
        padding: 0 0 10px 25px;
    }

}